{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table style="width:100%">
        <thead>
            <tr>
                <th>Symbol</th>
                <th> Share</th>
                <th> Price </th>
                <th> Date </th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ "${:,.2f}".format(row["price"]) }}</td>
                <td>{{ row["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}