{% extends "layout.html" %}

{% block body %}

    <!-- /register is a ROUTE that CAN occur IF and when a user clicks on the submit button -->
    <!-- if submit is clicked, the /register route occurs in app.py -->
    <form action="/register" method="post"> <!-- no question mark in address bar hints at a post method versus a get methodb-->
        <input name="name" type="text" placeholder="Name" autocomplete="off" autofocus>
        <select> <!-- dropdown menus -->
            <option disabled selected>Sport</option> <!-- dropdown header -->
            <option value="Basketball">Basketball</option>
            <option value="Baseball">Baseball</option>
            <option value="Soccer">Soccer</option>
            <option value="Football">Football</option>
        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}