<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>hello</title>
    </head>
    <body> <!-- with action, this will give us the front end and the back end -->
        <form action="/greet" method="get"> <!-- input tage have name attributes by default, not "name"-->
            <input automcomplete="off" autofocus name="name" placeholder="Name" type="text">
            <button type="submit">Greet</button>
        </form>
    </body>
</html>
