<!-- ### ROUTES ### -->
<!-- Creation of a webform that submits whatever the value of text box is to a ROUTE called /greet -->
<!-- /greet is not a http or domain,  it's assumed it corresponds to whatever my own server's URL is, explicit prefix to the route -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>hello</title>
    </head>
    <body> <!-- One html the form, which records the submit data and passes it to this greet html -->
        hello, {{ placeholder }}
    </body>
</html>